Source: qtbigtext
Section: user/utilities
Priority: extra
Maintainer: teleshoes <elliot.wolk@gmail.com>
Build-Depends: aegis-builder (>= 1.4)
Standards-Version: 3.8.4

Package: qtbigtext
Architecture: all
Depends: python, python-pyside.qtgui, python-pyside.qtcore, python-dbus
Description: QT Big Text Viewer
 Calculates the maximum font point size that will fit all the text, fullscreen, and does so.
